/* LEFT: central/master via BLE */
&split {
    compatible = "zmk,split-bluetooth";
    status = "okay";
    role = "central";
};

/* garanta que serial/TRRS fique desligado */
&split_serial {
    status = "disabled";
};

/* Habilita o USB device do nRF52840 (nice_nano_v2) */
&usbd {
    status = "okay";
};
