/* LEFT: central/master via BLE */
&split {
    compatible = "zmk,split-bluetooth";
    status = "okay";
    role = "central";
};

/* garante que serial/TRRS fique desligado */
&split_serial {
    status = "disabled";
};

/* habilita o controlador USB para o ZMK Studio via WebUSB */
&usbd {
    status = "okay";
};
